<h1 class = "container pb-2">Mostrando todos las Movies ingresados =</h1>

 
 <div class = "container  ">

        <h2 class= "bg-success-subtle border border-success-subtle rounded-4">Titulo:  </h2>
        <p>Contenido:  </p>

</div>

 
 <div class = "container">
    <%= link_to "Agregar nuevo Movies", movie_new_path,  class: "btn btn-success"%>
 </div>

